body {
    background-color: #EDF7B8;
    font-family: 'SFProDisplay';
}

.btn {
    text-align: center;
    background-color: black;
}

.btn:hover {
    background-color: black;
}

.btn:focus {
    background-color: black;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay'),
    url('./font/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
  }
