body {
    background-color: #ebfff2;
    font-family: 'SFProDisplay';
}

.btn {
    text-align: center;
    background-color: black;
}

.home-heading{
    font-family: 'SFProDisplay';
}

.home-description{
    font-family: 'SFProDisplay';
    /* opacity: 70% !important; */
}

.home-advantages{
    font-family: 'SFProDisplay';
    /* opacity: 70%; */
}

.home-subtitle{
    font-family: 'SFProDisplay';
    /* opacity: 70%; */
}

h3{
    font-family: 'SFProDisplay';
}

.btn:hover {
    background-color: black;
}

.image{
    position: relative;
    width: 100%;
}

.helloworld{
    font-family: 'SFProDisplay';
}

.btn:focus {
    background-color: black;
}

.hellllo{
    background-color: #FFFFFF;
    border: 2px solid #42af6c;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay'),
    url('./fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
  }
