body {
    background-color: #EDF7B8;
    font-family: 'SFProDisplay';
}

.btn {
    text-align: center;
    background-color: black;
}

.btn:hover {
    background-color: black;
}

.btn:focus {
    background-color: black;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay'),
    url('./fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
}

#navposition {
    position: relative;
}

.image-mover {
    position: absolute;
    right: 40px;
}

.img-responsive3 {
    border-radius: 15px;
}

#image-center1 {
    display: flex;
    justify-content: center;
}

#image-change {
    margin-left: 30px;
    margin-right: 30px;
}