#bg {
    height: 10%;
    /* max-height: 70%; */
    width: 100%;
    /* max-width: 100; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    position: relative;
    color: black;
}

.home-title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 100px;
    font-style: bold;
}

.home-heading {
    position: absolute;
    top: 185px;
    left: 50px;
    font-size: 30px;
    font-style: italic;
}

div.transbox {
    border-bottom: 5px solid black;
    filter: alpha(opacity=60); 
}
   
.home-description {
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.home-advantages {
    font-size: 25px;
}

.home-subtitle {
    font-size: 30px;
}

.img-responsive1 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.home-footer {
    background-color: #1F1102;
    min-height: 100px;
}

.home-color {
    background-color: black;
    color: black;
}

.button-size {
    text-align: center;
}